{% extends "base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Greg Olmschenk</h1>

            <p>Welcome to my homepage.</p>

            <p class="text-right"><a href="https://github.com/golmschenk"><i class="fa fa-github fa-2x"></i></a> <a href="https://stackoverflow.com/users/1191087/golmschenk"><i class="fa fa-stack-overflow fa-2x"></i></a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Essays</h2>
                <span class="lead">
                <p><a href="essay/the-search-for-life">The Search For Life</a></p>
                <p><a href="essay/cosmic-death">Cosmic Death</a></p>
                </span>
            </div>

            <div class="col-md-4">
                <h2>Education</h2>

                <h4>Graduate</h4>
                <p>
                    PhD Candidate: Computer Science, Current<br>
                    City University of New York - Graduate Center<br>
                    Research Area: Computer Vision<br>
                    Advisor: Prof. Zhigang Zhu<br>
                </p>
                <p>
                    MS: Computer Science, May 2013<br>
                    City University of New York - Graduate Center<br>
                    Research Area: Computer Vision<br>
                    Advisor: Prof. Zhigang Zhu<br>
                </p>

                <h4>College</h4>
                <p>
                    BS: Astrophysics, May 2013<br>
                    BS: Mathematics, May 2013<br>
                    University of Minnesota<br>
                </p>


            </div>

            <div class="col-md-4">
                <h2>Crowd Navigation</h2>

                <p>Our Crowd Navigation app, currently in development, will allow visually impaired users to stream video from their mobile device and receive real-time feedback from a crowd of volunteers.</p>

                <p><a class="btn btn-default" href="http://crowd-navigation.appspot.com" role="button">Go To Site &raquo;</a></p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>

                <h1>Test</h1>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>

                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris
                    condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis
                    euismod. Donec sed odio dui. </p>

                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>

                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut
                    fermentum massa justo sit amet risus.</p>

                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

        <hr>

        {% include "footer.html" %}
    </div>
{% endblock content %}
