{% extends "base.html" %}
{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Greg Olmschenk</h1>

            <p>Welcome to my homepage.</p>

            <p class="text-right">
                <a href="https://github.com/golmschenk"><i class="fa fa-github fa-2x"></i></a> <a
                    href="https://stackoverflow.com/users/1191087/golmschenk"><i class="fa fa-stack-overflow fa-2x"></i></a> <a
                    href="https://www.youtube.com/channel/UCNY8VrEFF8Qs7PwjULcfaJg"><i class="fa fa-youtube fa-2x"></i></a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Essays</h2>
                <span class="lead">
                <p><a href="essay/the-search-for-life">The Search For Life</a></p>
                <p><a href="essay/cosmic-death">Cosmic Death</a></p>
                </span>
            </div>

            <div class="col-md-4">
                <h2>Education</h2>

                <h4>Graduate</h4>

                <p>
                    PhD Candidate: Computer Science, Current<br>
                    City University of New York - Graduate Center<br>
                    Research Area: Computer Vision<br>
                    Advisor: Prof. Zhigang Zhu<br>
                </p>

                <p>
                    MS: Computer Science, May 2013<br>
                    City University of New York - Graduate Center<br>
                    Research Area: Computer Vision<br>
                    Advisor: Prof. Zhigang Zhu<br>
                </p>

                <h4>College</h4>

                <p>
                    BS: Astrophysics, May 2013<br>
                    BS: Mathematics, May 2013<br>
                    University of Minnesota<br>
                </p>


            </div>

            <div class="col-md-4">
                <h2>Crowd Navigation</h2>

                <p>Our Crowd Navigation app, currently in development, will allow visually impaired users to stream
                    video from their mobile device and receive real-time feedback from a crowd of volunteers.</p>

                <p><a class="btn btn-default" href="http://crowd-navigation.appspot.com" role="button">Go To
                    Site &raquo;</a></p>
            </div>

            <div class="clearfix visible-md-block visible-lg-block"></div>

            <div class="col-md-4">
                <h2>Affiliation</h2>
                <span class="lead">
                <p><a href="http://ccvcl.org">City College Visual Computing Lab</a></p>
                </span>
            </div>
        </div>

        <hr>

        {% include "footer.html" %}
    </div>
{% endblock content %}
